@import '../../../../theme/variables';
@import '../../../../theme/colors';

:host {
    display: block;
    align-items: baseline;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 auto;
    text-align: center;
    article {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: 40vh;
        position: relative;
        width: 100%;
        &::before {
            content: '';
            display: block;
            height: 100%;
            opacity: .75;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
        header {
            color: $white;
            position: relative;
            z-index: 3;
            h3 {
                line-height: 1.65;
                margin-bottom: 0;
                &:after {
                    content: '';
                    background-color: $white-b;
                    display: block;
                    height: 2px;
                    margin: 0.325em auto 0.5em auto;
                    max-width: 250px;
                }
            }
            p {
                letter-spacing: 0.1em
            }
        }
    }
    .poscye {
        &::before {
            background: $primary;
        }
    }
    .fe {
        &::before {
            background: #6F6ED6;
        }
    }
    .ss {
        &::before {
            background: $spot-1;
        }
    }
    .ci {
        &::before {
            background: #3C76D3;
        }
    }
}
.no-webp :host {
    .poscye {
        background-image: url('/assets/img/bk/pbk.jpg');
    }
    .fe {
        background-image: url('/assets/img/bk/fe.jpg');
    }
    .ss {
        background-image: url('/assets/img/bk/sales.jpg');
    }
    .ci {
        background-image: url('/assets/img/bk/ci.jpg');
    }
}
.webp :host{
    .poscye {
        background-image: url('/assets/img/bk/pbk.webp');
    }
    .fe {
        background-image: url('/assets/img/bk/fe.webp');
    }
    .ss {
        background-image: url('/assets/img/bk/sales.webp');
    }
    .ci {
        background-image: url('/assets/img/bk/ci.webp');
    }
}
@media (min-width: 425px) {
    :host {
    }
}
@media (min-width: 576px) {
    :host {
        .poscye {
            width: 60%;
        }
        .fe {
            width: 40%;
        }
        .ss {
            width: 40%;
        }
        .ci {
            width: 60%;
        }
    }
}
@media (min-width: 768px) {
    :host {
    }
}
@media (min-width: 992px) {
    :host {
    }
}
@media (min-width: 1200px) {
    :host {
    }
}