<article class="poscye">
  <header>
    <h3>
      <a href="javascript:void()">
        POSCYE
      </a>
    </h3>
    <p>Sistema POS</p>
  </header>
</article>
<article class="fe">
  <header>
    <h3>
      <a href="javascript:void()">
        Facturación Electronica
      </a>
    </h3>
    <p>Factura digital</p>
  </header>
</article>
<article class="ss">
  <header>
    <h3>
      <a href="javascript:void()">
        Compras y Ventas
      </a>
    </h3>
    <p>.......</p>
  </header>
</article>
<article class="ci">
  <header>
    <h3>
      <a href="javascript:void()">
        Cartera y Inventario
      </a>
    </h3>
    <p>......</p>
  </header>
</article>
