@import '../../assets/sass/colors';

:host {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    min-height: 56px;
    padding: 0 1.3333333333333333rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .3s ease-out, background-color .3s ease-out, -webkit-transform .3s ease-out;

    .logo {
        align-items: center;
        border: 0;
        color: rgba(117,117,117,0.8);
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.8rem;
        height: inherit;
        justify-content: flex-start;
        line-height: inherit;
        padding: 0 1.5rem;
        text-transform: uppercase;
        &-icon {
            height: 40px;
        }
        &-name {
            display: inline-table;
            text-align: center;
            font-weight: bold;
            &::before {
                content: 'CARRERA ESTRADA & SISTEMAS';
            }
        }
    }
    
    .nav {
        display: flex;
        flex-grow: 1;
        height: inherit;
        justify-content: flex-end;
        line-height: inherit;
        &-link {
            color: $blue-2;
            font-weight: 500;
            font-size: 0.87rem;
            letter-spacing: 1px;
            line-height: 56px;
            padding-left: 1.125rem;
            padding-right: 1.125rem;
            text-transform: uppercase;
            word-spacing: 2px;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $light-2;
                transition: width .3s;
            }
            &:hover {
                color: $blue-2;
            }
            &:hover::after {
                width: 100%;
                transition: width .3s;
            }
        }
    }
}
@media (max-width: 575.98px) {
    :host {
        .nav {
            &-link {
                font-size: .4rem;
            }
        }
    }
}
@media (min-width: 576px) {
    :host {
        .logo {
            padding: 0;
        }
        .nav {
            &-link {
                font-size: .6rem;
                padding-left: .6rem;
                padding-right: .6rem;
                word-spacing: 0;
            }
        }
    }
}
@media (min-width: 768px) {
    :host {
        padding-top: 0.5rem;
        .logo {
            &-name {
                &::before {
                    content: '';
                } 
            }
        }
    }
}
@media (min-width: 992px){
    :host {
        .nav {
            justify-content: center;
            &-link {
                font-size: .8rem;
                padding-left: .8rem;
                padding-right: .8rem;
                word-spacing: 0;
            }
        }
    }
}