<header class="main-header">
  <a class="brand" href="javascript:void(0)">
    <img src="assets/brand/cye-logo.svg" alt="Carrera Estrada & Sistemas">
  </a>
  <nav class="nav-main">
    <ul class="nav-list">
      <li><a class="nav-link" href="javascript:void(0)">Productos</a></li>
      <li><a class="nav-link" href="javascript:void(0)">Servicios</a></li>
      <li><a class="nav-link" href="javascript:void(0)">Nosotros</a></li>
      <li><a class="nav-link" href="javascript:void(0)">Contactanos</a></li>
    </ul>
  </nav>
</header>
