@import '../../sass/variables';
@import '../../sass/colors';

:host {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    min-height: 56px;
    padding: 0 .45rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: transform .3s ease-out, background-color .3s ease-out, -webkit-transform .3s ease-out;
    z-index: $z-header;

    .logo {
        align-items: center;
        color: $header-font-color-1;
        display: flex;
        flex-flow: row nowrap;
        font-size: .8rem;
        height: inherit;
        justify-content: flex-start;
        line-height: inherit;
        padding: 0 .45rem;
        text-transform: uppercase;
        &-icon {
            height: 30px;
        }
        &-name {
            display: inline-table;
            text-align: center;
            font-weight: 500;
            &::before {
                content: '';
            }
        }
    }
    
    .nav {
        display: flex;
        flex-grow: 1;
        height: inherit;
        justify-content: flex-end;
        line-height: inherit;
        &-link {
            color: $header-font-color-1;
            font-weight: 500;
            font-size: .5rem;
            letter-spacing: 1px;
            line-height: 56px;
            padding-left: .3rem;
            padding-right: .3rem;
            text-transform: uppercase;
            word-spacing: 2px;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $header-font-color-2;
                transition: width .3s;
            }
            &:hover {
                color: $header-font-color-2;
            }
            &:hover::after {
                width: 100%;
                transition: width .3s;
            }
        }
    }
}
@media (min-width: 375px) {
    :host {
        .nav {
            &-link {
                font-size: .6rem;
                padding-left: .4rem;
                padding-right: .4rem;
            }
        }
    }
}
@media (min-width: 576px) {
    :host {
        padding: 0 .5rem;
        .logo {
            padding: 0 .5rem;
            &-icon {
                height: 40px;
            }
        }
        .nav {
            &-link {
                font-size: .75rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}
@media (min-width: 768px) {
    :host {
        padding: 0 .625rem;
        .logo {
            padding: 0 .625rem;
            &-name {
                &::before {
                    content: 'CARRERA ESTRADA & SISTEMAS';
                }
            }
        }
        .nav {
            &-link {
                font-size: 0.875rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}
@media (min-width: 992px){
    .host {
        padding: 0 1.3333333333333333rem;
        .logo {
            padding: 0 1.5rem;
        }
        .nav {
            &-link {
                padding-left: 1.125rem;
                padding-right: 1.125rem;
            }
        }
    }
}
@media (min-width: 1200px) {
    .host {
    }
}
