@import './../../sass/variables';

.main-header {
  display: grid;
  grid-template: 60px /  30% 70%;
  grid-template-areas: "brand nav";
  height: 60px;
  margin: 0 auto;
  max-width: 980px;
  position: relative;
  width: 100%;

  .brand  {
    background-image: url('/assets/brand/cye-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    grid-area: 'brand';
    width: 100%;
  }

  .nav-main {
    grid-area: 'nav';
    overflow: hidden;
    width: 100%;
  }
}

.nav-list {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: flex-end;
  list-style: none;
  margin: 0 auto;
  white-space: nowrap;

  li {
    display: list-item;
    text-align: center;

    .nav-link {
      padding: .5em 1em;
    }
  }
}

.nav-link {
  .octicon {
    vertical-align: text-bottom;
  }
}

.dropdown-menu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
  margin: 0.125rem auto;
  min-width: 10rem;
  justify-content: flex-start;
  padding: 0.5rem 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  .dropdown-item {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.dropdown-icon,
.dropdown-info {
  display: inline-block;
}

.dropdown-info {
  h5,
  p {
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 0.8rem;
    max-width: 120px;
    text-align: left;
  }
}

@media (max-width: 680px) {
  .main-header {
    grid-template: 60px 30px /  100%;
    grid-template-areas: "brand" "nav";
    height: 90px;
  }

  .nav-list {
    align-items: stretch;
    height: 130%;
    justify-content: center;
    margin: 0;
    overflow-y: auto;
    padding: 0;

    li {
      padding: .15em;
    }
  }

  .nav-link {
    text-align: center;
    vertical-align: middle;
  }
}

@media (max-width: 496px) {
  .nav-list {
    justify-content: flex-start;
  }
}
