
$primary: #3d78e5;

$black: #111;
$light: #eee;
$white-b: rgba(255, 255, 255, 0.125);
$white: #fff;

$collective-1: #9361DF;
$collective-2: #F01B5A;

$discreet-1: #868FBB;
$discreet-2: #F7F9FF;
$discreet-3: #EEE8A9;

$highlight-1: #9DA9DF;
$highlight-2: #E6F4F1;
$highlight-3: #EEE8A9;

$greyfriend-1: #434655;
$greyfriend-2: #A8AABC;

$natural-1: #868FBB;
$natural-2: #F8F9FF;
$natural-3: #E6F4F1;

$spot-1: #A3AEE5;
$spot-2: #E9EFFF;
$spot-3: #C2A875;

$classy-1: #434655;
$classy-2: #A8AABC;
$classy-3: #DC4361;
$classy-4: #9F0033;

$matching-1: #8C64C5;

$discreet: linear-gradient(0deg, #498fff 0%, rgba(160, 197, 255, .5) 60%, rgba(255,255,255,0) 100%);
$matching: linear-gradient(0deg, $primary, #6F6ED6, #8C64C5, #9E5CB2, #AA559F,#B0508C);
