@import '../../sass/variables';
@import '../../sass/colors';
.no-webp :host {
    background-image: url('/assets/img/bk/intro.jpeg');  
}
.webp :host {
    background-image: url('/assets/img/bk/intro.webp');  
}
:host {
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 60vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: $z-intro;
    &::before {
        background: $discreet;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -2;
    }
    .intro-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -3;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }
    .inner {
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        display: table;
        h1 {
            color: $white;
            transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
            transform: translateX(0);
            transition-delay: 0.65s;
            filter: blur(0);
            opacity: 1;
            border-bottom: solid 2px $white-b;
            font-size: 1.2rem;
            margin-bottom: 0.8em;
            padding-bottom: 0.4em;
            text-transform: uppercase;
        }
        p {
            color: $white;
            transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
            transform: translateX(0);
            transition-delay: 0.8s;
            filter: blur(0);
            opacity: 1;
            font-family: Raleway, Helvetica, sans-serif;
            font-size: .75rem;
            font-weight: 200;
            letter-spacing: 0.1em;
            line-height: 2;
            text-transform: uppercase;
        }
    }
}
@media (min-width: 425px) {
    :host {
    }
}
@media (min-width: 576px) {
    :host {
        .inner {
            h1 {
                font-size: 1.35rem;
            }
            p {
                font-size: .78rem;
            }
        }
    }
}
@media (min-width: 768px) {
    :host {
        height: 60vh;
        .intro-img {
            height: 60vh;
        }
        .inner {
            h1 {
                font-size: 1.75rem;
            }
            p {
                font-size: .8rem;
            }
        }
    }
}
@media (min-width: 992px) {
    :host {
        .inner {
            h1 {
                font-size: 1.9rem;
            }
        }
    }
}
@media (min-width: 1200px) {
    :host {
        .inner {
            h1 {
                font-size: 2.25rem;
            }
        }
    }
}
