@import '../../assets/sass/variables';
@import '../../assets/sass/colors';
 :host {
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1524435294942-f69361a3c3e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=78a7db887b5ecec1ba9697f6618e13dc&auto=format&fit=crop&w=1600&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    z-index: $z-intro;
    &::before {
        background: $discreet;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -2;
    }
    .inner {
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        display: table;
        h1 {
            color: $white;
            -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
            -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
            -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
            transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
            -moz-transform: translateX(0);
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            -moz-transition-delay: 0.65s;
            -webkit-transition-delay: 0.65s;
            -ms-transition-delay: 0.65s;
            transition-delay: 0.65s;
            -moz-filter: blur(0);
            -webkit-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
            opacity: 1;
            border-bottom: solid 2px rgba(255, 255, 255, 0.125);
            font-size: 2.25em;
            margin-bottom: 0.8em;
            padding-bottom: 0.4em;
            text-transform: uppercase;
        }
        p {
            color: $white;
            transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
            transform: translateX(0);
            transition-delay: 0.8s;
            filter: blur(0);
            opacity: 1;
            font-family: Raleway, Helvetica, sans-serif;
            font-size: 1em;
            font-weight: 200;
            letter-spacing: 0.1em;
            line-height: 2;
            text-transform: uppercase;
        }
    }
}
@media (min-width: 375px) {
    :host {
        
    }
}
@media (min-width: 576px) {
    :host {
        
    }
}
@media (min-width: 768px) {
    :host {
        height: 60vh;
    }
}
@media (min-width: 992px){
    .host {
        padding: 1.25rem;
    }
}
@media (min-width: 1200px) {
    .host {
    }
}
