@import 'colors';

$font-main: -apple-system, BlinkMacSystemFont, Helvetica, 'Roboto Mono', Arial, sans-serif !default;

$z-header: 90;
$z-intro: 5;

$header-font-color-1: rgb(157, 164, 194);
$header-font-color-2: $night;
$header-font-color-3: $discreet-2;
