<div class="container">
  <a class="logo" href="javascript:void(0)">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="assets/img/brand/logo.svg" type="image/svg+xml">
      <source srcset="assets/img/brand/logo.webp" type="image/webp">
      <source srcset="assets/img/brand/logo.png" type="image/png">
      <!--[if IE 9]></video><![endif]-->
      <img class="logo-icon" srcset="assets/img/brand/logo.png" alt="logo">
    </picture>
    <span class="logo-name"></span>
  </a>
  <nav class="nav">
    <a class="nav-link" href="javascript:void(0)">
      Productos
    </a>
    <a class="nav-link" href="javascript:void(0)">
      Servicios
    </a>
    <a class="nav-link" href="javascript:void(0)">
      Nosotros
    </a>
    <a class="nav-link" href="javascript:void(0)">
      Contácto
    </a>
  </nav>
</div>