@import 'sass/variables';
/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: $light-1;
  color: $dark-1;
  font: {
    family: $font-main;
    size: 16px;
  }
  position: relative;
  text-rendering: optimizeLegibility;
}

a {
  color: $blue-3;
  text-decoration: none;
}
