/* You can add global styles to this file, and also import other style files */
@import 'sass/variables';
html,
body {
  background-color: $light;
  border: 0;
  color: $black;
  font: {
    family: $font-main;
    size: 16px;
  }
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

a {
  transition: color .2s ease-in-out;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 575.98px) {
  .container {
      max-width: 100%;
  }
}
@media (min-width: 576px){
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px){
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}