
$blue-1: rgba(61, 120, 229, .8);
$blue-2: #3d78e5;
$blue-3: #0366d6;
$blue-4: rgba(49, 73, 196, .8);
$blue-5: #3149c4;

$dark-1: #444;
$dark-2: #333;
$dark-4: #24292e;
$dark-3: #111;

$light-5: #aaa;
$light-4: #ccc;
$light-3: #ddd;
$light-2: #eee;
$light-1: #fff;

$green-1: #79cb5d;
$green-2: #2ecc40;
$green-3: #2ecc40;

$brown-1: #bc7036;

$red-1: #de3222;
$red-2: #cb2431;

$yellow: #ffdc00;
